<h1>What's your poison</h1>

<%= form_tag cocktails_path, method: :get do %>
  <%= label_tag(:search, "What cocktail would you like to make?") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("Search", :name => nil) %>
<% end %>
<div class="grid-container">
  <ul>
    <div class="grid-item">
      <%@cocktails.each do |cocktail|%>
        <% if cocktail.photo.attached? %>
          <div class="card-category" >
            <%= cl_image_tag cocktail.photo.key, width: 400, height: 300, crop: :fill %>
            <%end %>
            <li><%=link_to cocktail.name, cocktail_path(cocktail)%></li>
          <%end%>
          </div>
    </div>
  </ul>
</div>

<button><%= link_to 'create your own cocktail', new_cocktail_path %></button>


